.login-page {
    .safe101-style-navigate-forward {
        background: #01a509;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .no-background {
        background: none !important;
        box-shadow: none !important;
    }
}
