@import "../../styles/mixins.scss";

.LoopingNavMenu {
  flex: 1 0;
  overflow: scroll;
  perspective: 1800px;
}

.LoopingNavMenu::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

.LoopingNavMenu .NavMenuItemOuter {

  padding: 0.5em;
  padding-top: 1em;
  padding-bottom: 0;
}


.LoopingNavMenu .NavMenuItem {
  @include safe101-form-item();
  padding: 1em;
  text-align: center;
  // white-space: nowrap;
  // background: rgb(100, 100, 200);
  // color: white;
  // border-radius: 0.5em;
}